{% extends 'base.html' %}

{% block head %}
<link rel=StyleSheet HREF="/static/classes.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">

function update(){
    $.get("/ajax", function(data){
        
        $("#out").html(data);
    });
}

function init(){setInterval("update()",1000);}

//possibly look into auto completing agent names by using ajax
//init();
</script>
{% endblock head %}


{% block content %}
<div class="vcenter" style="height:320px; background:black;">
<div class="hcenter" style="width:600px; ">
<span style="color:white;">Agent Search Engine:</span><br>
<form action="/index"> <!--eventuall search-->
<input name="agent"/>
<input type="submit" value="Search."/>
</form>
</div>
</div>
{% endblock content %}




